@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    :root {

    /* change the values below to your chosen font(s) */
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;

}

.button-box {
    text-align: center;

}

main section {
    text-align: center;

}

main section img {
    box-sizing: border-box;
}
            


body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: rgb(166, 57, 57);

}

nav a:hover {
    background-color: black;
    color: beige;
}

book,
.join {
    background-color: whitesmoke;
    color: burlywood;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: black;
    color: bisque;
}

.logo {
    width: 80px;

}

#logo {
    padding-top: 5px;

}

.icon {
    width: 80px;
    padding-top: 10px;

}

#background {
    background-color: lightblue;
    height: 725px;
}



.home-title {
    /*background-color: blue;*/
    color: rgb(166, 57, 57);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;

}

h4 {
   /*background-color: blueviolet;*/
    color: black;

}

h2 {
    margin: 0;
}

.msg h2 {
    /*background-color: white;*/
    color: beige;
    font-family: var(--heading-font);

}

.msg p {
    background-color: brown;
    color: whitesmoke;
    font-size: .8em;
    padding-bottom: 15px;

}

.msg {
    background-color: brown;
    color: darkcyan;
    line-height: 1.5em;
    padding: 35px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}


footer {
    background-color: whitesmoke;
    color: black;
    margin-top: 200px;
    padding: 25px 50px;
}

footer a {
    /*background-color: rosybrown;*/
    color: black;
    text-decoration: none;

}

footer a:hover {
    background-color: white;
    color: brown;

}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}