@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {

    /* change the values below to your chosen font(s) */
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

}


#content {
    max-width: 1500px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;

}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    background-color: #04141d64;


}


#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: yellow;
    font-family: var(--heading-font);

}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}

.button-box {
    text-align: center;

}

.book {
    background-color: rgba(245, 245, 245, 0.877);
    color: rgb(34, 34, 192);
    text-decoration: none;
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 5px;

}

main section {
    text-align: center;

}

main section img {
    box-sizing: border-box;
}



body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(0, 0, 0, 0.425);

}


nav {
    display: flex;
    justify-content: space-around;
}


nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: rgb(244, 240, 240);

}

nav a:hover {
    background-color: black;
    color: beige;
}

book,
.join {
    background-color: whitesmoke;
    color: burlywood;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: black;
    color: bisque;
}

.logo {
    width: 80px;

}

#logo {
    padding-top: 5px;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;

}

#background {
    background-color: lightblue;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}



.home-title {
    /*background-color: blue;*/
    color: rgb(166, 57, 57);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;

}

.home-grid {
    display: grid;
}

h4 {
    /*background-color: blueviolet;*/
    color: black;

}

h2 {
    margin: 0;
}

.msg h2 {
    /*background-color: white;*/
    color: beige;
    font-family: var(--heading-font);

}

.msg p {
    background-color: brown;
    color: whitesmoke;
    font-size: .8em;
    padding-bottom: 15px;

}

.msg {
    background-color: brown;
    color: darkcyan;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}


.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img,
.mountains {
    width: 100%;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;

}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}


footer {
    background-color: whitesmoke;
    color: black;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    /*background-color: rosybrown;*/
    color: black;
    text-decoration: none;

}

footer a:hover {
    background-color: white;
    color: brown;

}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}




/* +++++++ Rivers Page  +++++++++++*/


.rivers_nav {
    background-color: #46465500;

}

.rivers_nav a {
    text-align: center;
    text-decoration: none;
    padding: 25px;
    color: white;
}

.rivers_nav a:hover {
    background-color: black;

}


main .river-grid {
    display: grid;
    flex-direction: column;
}


#river_Title {
    text-align: center;
    font-size: 40px;
    color: brown;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}


#river_subtitle {
    text-align: center;
    color: brown;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.river1 {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
    padding: 10px;
    margin: 10px;

}

.river2 {
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
    padding: 10px;
    margin: 10px;

}

.river3 {
    grid-column: 1/4;
    grid-row: 3;
    width: 100%;
    padding: 10px;
    margin: 10px;
}


.river_msg1 {
    background-color: #4646550c;
    color: darkcyan;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 4/7;
    grid-row: 1;
    font-family: 'Lato', sans-serif;
    box-shadow: 5px 5px 5px #6f7364;

}


.river_msg2 {
    background-color: #4646550c;
    color: darkcyan;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 4/7;
    grid-row: 2;
    font-family: 'Lato', sans-serif;
    box-shadow: 5px 5px 5px #6f7364;
}


.river_msg3 {
    background-color: #4646550c;
    color: darkcyan;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 4/7;
    grid-row: 3;
    font-family: 'Lato', sans-serif;
    box-shadow: 5px 5px 5px #6f7364;

}


/* +++++++ contact Us page  +++++++++++*/

.contact_nav a {
    text-align: center;
    text-decoration: none;
    padding: 25px;
    color: white;
}

.contact_nav a:hover {
    background-color: black;

}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    /* Align form elements to the left */

}


#contactTitle {
    background-color: #333333d2;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#contact_subtitle {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    margin: 20px;
}


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: whitesmoke;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */


}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
 
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}





/* +++++++ Responsive design  +++++++++++*/

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    #hero-msg h1 {
        color: #6f7364;
    }

    .home-title {
        font-size: 25px;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}